Logic App/logic-app-remediate-default-route.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "logicAppName": {
        "type": "string",
        "defaultValue": "Remediate-default-route",
        "metadata": {
          "description": "Name of the Logic App."
        }
      },
      "logicAppLocation": {
        "type": "string",
        "defaultValue": "[resourceGroup().location]",
        "allowedValues": [
          "[resourceGroup().location]",
          "eastasia",
          "southeastasia",
          "centralus",
          "eastus",
          "eastus2",
          "westus",
          "northcentralus",
          "southcentralus",
          "northeurope",
          "westeurope",
          "japanwest",
          "japaneast",
          "brazilsouth",
          "australiaeast",
          "australiasoutheast",
          "westcentralus",
          "westus2"
        ],
        "metadata": {
          "description": "Location of the Logic App."
        }
      },
      "paramCACN-AzureFirewall": {
        "type": "string",
        "defaultValue": "192.168.5.4"
      },
      "paramCAEN-AzureFirewall": {
        "type": "string",
        "defaultValue": "172.16.5.4"
      },
      "arm-2_name": {
        "type": "string",
        "defaultValue": "arm-2"
      },
      "arm-2_displayName": {
        "type": "string",
        "defaultValue": "update-default-route"
      },
      "arm-2_token:clientId": {
        "type": "string",
        "defaultValue": null,
        "metadata": {
          "description": "Client (or Application) ID of the Azure Active Directory application."
        }
      },
      "arm-2_token:clientSecret": {
        "type": "securestring",
        "defaultValue": null,
        "metadata": {
          "description": "Client secret of the Azure Active Directory application."
        }
      },
      "arm-2_token:TenantId": {
        "type": "string",
        "defaultValue": null,
        "metadata": {
          "description": "The tenant ID of for the Azure Active Directory application"
        }
      },
      "arm-2_token:resourceUri": {
        "type": "string",
        "defaultValue": null,
        "metadata": {
          "description": "The resource you are requesting authorization to use."
        }
      },
      "arm-2_token:grantType": {
        "type": "string",
        "defaultValue": null,
        "allowedValues": [
          "code",
          "client_credentials"
        ],
        "metadata": {
          "description": "Grant type"
        }
      },
      "ascassessment_name": {
        "type": "string",
        "defaultValue": "ascassessment"
      },
      "ascassessment_displayName": {
        "type": "string",
        "defaultValue": "Security Center Recommendation"
      }
    },
    "variables": {},
    "resources": [
      {
        "type": "Microsoft.Logic/workflows",
        "apiVersion": "2016-06-01",
        "name": "[parameters('logicAppName')]",
        "location": "[parameters('logicAppLocation')]",
        "dependsOn": [
          "[resourceId('Microsoft.Web/connections', parameters('arm-2_name'))]",
          "[resourceId('Microsoft.Web/connections', parameters('ascassessment_name'))]"
        ],
        "properties": {
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "$connections": {
                "defaultValue": {},
                "type": "Object"
              },
              "CACN-AzureFirewall": {
                "defaultValue": "[parameters('paramCACN-AzureFirewall')]",
                "type": "String"
              },
              "CAEN-AzureFirewall": {
                "defaultValue": "[parameters('paramCAEN-AzureFirewall')]",
                "type": "String"
              }
            },
            "triggers": {
              "When_an_Azure_Security_Center_Recommendation_is_created_or_triggered": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                  "body": {
                    "callback_url": "@{listCallbackUrl()}"
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['ascassessment']['connectionId']"
                    }
                  },
                  "path": "/Microsoft.Security/Assessment/subscribe"
                }
              }
            },
            "actions": {
              "For_each": {
                "foreach": "@body('Parse_JSON_-_route_table_properties')?['routes']",
                "actions": {
                  "Condition": {
                    "actions": {
                      "Create_or_update_a_template_deployment": {
                        "runAfter": {},
                        "type": "ApiConnection",
                        "inputs": {
                          "body": {
                            "properties": {
                              "mode": "Incremental",
                              "template": {
                                "$schema": "http://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json",
                                "contentVersion": "1.0.0.0",
                                "resources": [
                                  {
                                    "apiVersion": "2020-07-01",
                                    "name": "[[concat('@{split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[8]}','/','@{items('For_each')?['name']}')]",
                                    "properties": {
                                      "addressPrefix": "0.0.0.0/0",
                                      "nextHopIpAddress": "@{variables('AzureFirewall-IP')}",
                                      "nextHopType": "VirtualAppliance"
                                    },
                                    "type": "Microsoft.Network/routeTables/routes"
                                  }
                                ]
                              }
                            }
                          },
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['arm']['connectionId']"
                            }
                          },
                          "method": "put",
                          "path": "/subscriptions/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[2])}/resourcegroups/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[4])}/providers/Microsoft.Resources/deployments/@{encodeURIComponent('Update-default-route')}",
                          "queries": {
                            "wait": true,
                            "x-ms-api-version": "2016-06-01"
                          }
                        }
                      }
                    },
                    "runAfter": {},
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@items('For_each')?['properties']?['addressPrefix']",
                            "0.0.0.0/0"
                          ]
                        }
                      ]
                    },
                    "type": "If"
                  }
                },
                "runAfter": {
                  "Initialize_variable_route_array": [
                    "Succeeded"
                  ]
                },
                "type": "Foreach"
              },
              "Get_the_route_table_name": {
                "runAfter": {},
                "type": "InitializeVariable",
                "inputs": {
                  "variables": [
                    {
                      "name": "RouteTableName",
                      "type": "string",
                      "value": "@{split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[8]}"
                    }
                  ]
                }
              },
              "Initialize_variable_AzureFirewall-IP": {
                "runAfter": {
                  "Read_a_resource": [
                    "Succeeded"
                  ]
                },
                "type": "InitializeVariable",
                "inputs": {
                  "variables": [
                    {
                      "name": "AzureFirewall-IP",
                      "type": "string"
                    }
                  ]
                }
              },
              "Initialize_variable_route_array": {
                "runAfter": {
                  "Parse_JSON_-_route_table_properties": [
                    "Succeeded"
                  ]
                },
                "type": "InitializeVariable",
                "inputs": {
                  "variables": [
                    {
                      "name": "route_array",
                      "type": "array",
                      "value": "@body('Parse_JSON_-_route_table_properties')?['routes']"
                    }
                  ]
                }
              },
              "Initialize_variable_route_table_properties": {
                "runAfter": {
                  "Set_Azure_Firewall_IP_based_on_location": [
                    "Succeeded"
                  ]
                },
                "type": "InitializeVariable",
                "inputs": {
                  "variables": [
                    {
                      "name": "route_table_properties",
                      "type": "object",
                      "value": "@body('Read_a_resource')?['properties']"
                    }
                  ]
                }
              },
              "Parse_JSON_-_route_table_properties": {
                "runAfter": {
                  "Initialize_variable_route_table_properties": [
                    "Succeeded"
                  ]
                },
                "type": "ParseJson",
                "inputs": {
                  "content": "@variables('route_table_properties')",
                  "schema": {
                    "properties": {
                      "routes": {
                        "items": {
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "properties": {
                              "properties": {
                                "addressPrefix": {
                                  "type": "string"
                                },
                                "hasBgpOverride": {
                                  "type": "boolean"
                                },
                                "nextHopIpAddress": {
                                  "type": "string"
                                },
                                "nextHopType": {
                                  "type": "string"
                                },
                                "provisioningState": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "name",
                            "id",
                            "properties",
                            "type"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      }
                    },
                    "type": "object"
                  }
                }
              },
              "Read_a_resource": {
                "runAfter": {
                  "Get_the_route_table_name": [
                    "Succeeded"
                  ]
                },
                "type": "ApiConnection",
                "inputs": {
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['arm']['connectionId']"
                    }
                  },
                  "method": "get",
                  "path": "/subscriptions/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[2])}/resourcegroups/@{encodeURIComponent(split(triggerBody()?['properties']?['resourceDetails']?['id'], '/')[4])}/providers/@{encodeURIComponent('Microsoft.Network')}/@{encodeURIComponent('routeTables/',variables('RouteTableName'))}",
                  "queries": {
                    "x-ms-api-version": "2020-07-01"
                  }
                }
              },
              "Set_Azure_Firewall_IP_based_on_location": {
                "runAfter": {
                  "Initialize_variable_AzureFirewall-IP": [
                    "Succeeded"
                  ]
                },
                "cases": {
                  "Canada_Central_AzureFirewall_IP": {
                    "case": "canadacentral",
                    "actions": {
                      "CACN-AzureFirewall": {
                        "runAfter": {},
                        "type": "SetVariable",
                        "inputs": {
                          "name": "AzureFirewall-IP",
                          "value": "@parameters('CACN-AzureFirewall')"
                        }
                      }
                    }
                  },
                  "Canada_East_Azure_Firewall_IP": {
                    "case": "canadaeast",
                    "actions": {
                      "CAEN-AzureFirewall": {
                        "runAfter": {},
                        "type": "SetVariable",
                        "inputs": {
                          "name": "AzureFirewall-IP",
                          "value": "@parameters('CAEN-AzureFirewall')"
                        }
                      }
                    }
                  }
                },
                "default": {
                  "actions": {}
                },
                "expression": "@body('Read_a_resource')?['location']",
                "type": "Switch"
              }
            },
            "outputs": {}
          },
          "parameters": {
            "$connections": {
              "value": {
                "arm": {
                  "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',parameters('logicAppLocation'),'/managedApis/arm')]",
                  "connectionId": "[resourceId('Microsoft.Web/connections', parameters('arm-2_name'))]",
                  "connectionName": "[parameters('arm-2_name')]"
                },
                "ascassessment": {
                  "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',parameters('logicAppLocation'),'/managedApis/ascassessment')]",
                  "connectionId": "[resourceId('Microsoft.Web/connections', parameters('ascassessment_name'))]",
                  "connectionName": "[parameters('ascassessment_name')]"
                }
              }
            }
          }
        },
        "identity": {
          "type": "SystemAssigned"
        }
      },
      {
        "type": "Microsoft.Web/connections",
        "apiVersion": "2016-06-01",
        "location": "[parameters('logicAppLocation')]",
        "name": "[parameters('ascassessment_name')]",
        "properties": {
          "api": {
            "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',parameters('logicAppLocation'),'/managedApis/ascassessment')]"
          },
          "displayName": "[parameters('ascassessment_displayName')]"
        }
      },
      {
        "type": "Microsoft.Web/connections",
        "apiVersion": "2016-06-01",
        "location": "[parameters('logicAppLocation')]",
        "name": "[parameters('arm-2_name')]",
        "properties": {
          "api": {
            "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',parameters('logicAppLocation'),'/managedApis/arm')]"
          },
          "displayName": "[parameters('arm-2_displayName')]",
          "parameterValues": {
            "token:clientId": "[parameters('arm-2_token:clientId')]",
            "token:clientSecret": "[parameters('arm-2_token:clientSecret')]",
            "token:TenantId": "[parameters('arm-2_token:TenantId')]",
            "token:resourceUri": "[parameters('arm-2_token:resourceUri')]",
            "token:grantType": "[parameters('arm-2_token:grantType')]"
          }
        }
      }
    ],
    "outputs": {}
  }
  